.main {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background-image: url(https://img.freepik.com/psd-gratis/3d-ilustracion-supermercado_23-2150942212.jpg?w=996&t=st=1707610916~exp=1707611516~hmac=e598b7147ab9b9aeda0ab30b71f142c426192f3ec7564d7e1b0c6a2ab6ee154a);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 

  }
  .App {
  text-align: center;
  }
  .App-logo {
  height: 40vmin;
  pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
  animation: App-logo-spin infinite 20s linear;
  }
  }
  .App-link {
  color: #61dafb;
  }
  @keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
  }
  .form_input {
  height: 40px;
  width: 500px;
  font-size: 20px;
  border-radius: 5%;
  display: flex;
vertical-align: auto;
color: beige;
background-color: rgb(234, 164, 0);
}
.form_button {
cursor: pointer;
display: inline-block;
text-align: center;
text-decoration: none;
height: 40px;
width: 500px;
margin: 2px 0;
border: solid 1px transparent;
border-radius: 4px;
padding: 0.5em 1em;
color: #ffffff;
background-color: darkgreen;
}
.Titulo3 {
margin: 0;
}

.list {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  background-color: black;
  }

.list p{
  margin-right: 10px;
} 
  
.btn_delete {
cursor: pointer;
display: inline-block;
text-align: center;
text-decoration: none;
border: solid 1px transparent;
border-radius: 4px;
color: #ffffff;
background-color: red;
height: 30px;
width: 30px;
}
